{% extends 'base.html.twig' %}

{% block title %}DISKO Test Technique{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>DISKO Test Technique</h1>

    <form role="search" id="nav-search-form" method="get" action="{{ path('search') }}">
        <div class="input-group">
            <input type="text" placeholder="Recherche par nom ou catégorie" style="width: 170px;" name ="search">
            <span class="input-group-btn">
                <button type="submit">Rechercher</button>
            </span>
        </div>
    </form>

    Liste des produits
    <ul>
        {% for product in listProducts %}
            <li>Nom : {{ product.name }} | Prix : {{ product.price }} | {{ product.category.name }}</li>
        {% endfor %}
    </ul>

    <div class="navigation">
        {{ knp_pagination_render(listProducts) }}
    </div>

    <a href="{{ path('easyadmin') }}"> Connexion admin</a>
</div>
{% endblock %}
